.traveling {
  width: 100%;
  background: url("../../assets/images/traveling/bg.png") top left /cover no-repeat;
  border-radius: 5px;
  padding: 5px 0;
  max-height: 625px;
  height: 100%;
  &__header {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }

  &__st {
    font-size: 1.875rem;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 34px auto 0 auto;

    &-chance, &-level {
      background-color: #FFFFFF;
      border-radius: 10px 0;
      padding: 5px;
    }

    &-chance {
      color: #EE0000;
      font-weight: 600;
    }

    &-level {
      font-weight: 600;
    }
  }

  &-wrapper {
    margin-top: 28px;

    .slider-lenta {
      //width: 100%;
      display: flex;
      align-items: center;
      //justify-content: space-around;
    }

    &__title {
      text-transform: uppercase;
      font-size: 1.875rem;
      font-weight: 600;
      text-align: center;
    }

    &__slider {
      max-height: 270px;
      width: 100%;
      height: 270px;
      background-color: rgba(16, 179, 32, 0.5);
      margin-top: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;

      .arrow-right, .arrow-left {
        cursor: pointer;
        transition: .4s all;
      }

      .arrow-right {
        transform: rotate(180deg);
      }

      &-tape {
        width: max-content;
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        max-width: 215px;
        margin: 0 20px;

        &__item {
          cursor: pointer;
          
          img {
            width: 215px;
            height: 215px;
          }

          &.check {
            transition: .4s all;
            border-radius: 10px;
            background-color: rebeccapurple;

            .check-text {
              opacity: 1;
              text-align: center;
              text-transform: uppercase;
              color: #000000;
              font-size: 1.5rem;
              font-weight: 600;
              background-color: #FEA029;
              padding: 3px 0;
            }
          }

          .check-text {
            opacity: 0;
            height: 30px;
          }
        }
      }
    }
  }

  &-footer {
    text-align: center;
    margin-top: 38px;

    &__count {
      font-weight: 600;
      font-size: 1.1rem;
    }

    button {
      width: 232px;
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: 600;
      font-size: 1.875rem;
      background-color: #FFCB06;
      border-radius: 10px;
      border: none;
      padding: 10px 0 5px 0;
      margin-top: 10px;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.7;
      }

      &:before {
        content: url("../../assets/images/traveling/rout.svg");
        vertical-align: middle;
        margin-right: 14px;
      }
    }
  }
}

@media screen and (max-width: 1600px){

}
