.main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 45px auto 0 auto;

  .aside-home {
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }

  .content {
    max-width: 1130px;
    width: 100%;
  }
}
