* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif !important;

    &::-webkit-scrollbar {
        width: 0;
        display: none;
    }

    &::-moz-scrollbar
    {
        width: 0;
    }
}
