* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
    font-style: normal;
}

.auth {
    background: linear-gradient(180deg, #FF2D00 0%, #F09400 35.94%, #EF9C00 59.37%, #FF2D00 88.54%);
    overflow: hidden;
}

